<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EnterpriseIntegration" type="Enterprise.IntegrationPatterns.RabbitMq.Configuration.EnterpriseIntegration, Enterprise.IntegrationPatterns.RabbitMq" />
  </configSections>
  <EnterpriseIntegration>
    <brokers>
      <broker key="configTestBroker" address="localhost" virtualHost="test" username="testUser" password="testPass"/>
      <broker key="integrationBroker" address="spider-01.rmq.cloudamqp.com" virtualHost="bzfcuepd" username="bzfcuepd" password="ZHgQEaasQ_JoX4QDDeS4-DDde2lCp-PT"/>
    </brokers>
    <queues>
      <queue key="configTestQueue" name="test" durable="true" exclusive="true" autoDelete="true"/>
      <queue key="integrationTestQueue" name="inegrationTests" durable="true" autoDelete="false"/>
      <queue key="worloadTestQueue" name="workloadTests" durable="true" autoDelete="false"/>
      <queue key="subscriberOneTestQueue" name="subscriberOne" durable="true" autoDelete="false"/>
      <queue key="subscriberTwoTestQueue" name="subscriberTwo" durable="true" autoDelete="false"/>
      <queue key="configTestDefaultQueue" name="defaultTest"/>
    </queues>
    <exchanges>
      <exchange key="configTestExchange" name="test" type="fanout"/>
      <exchange key="publishTestExchange" durable="true" name="publishTest" type="fanout"/>
    </exchanges>
  </EnterpriseIntegration>
</configuration>